<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pagina Web - Ecuagol </title>

    <link rel="icon"
          href="/imagenes/balon.ico">

</head>

<body>

<h1>PAGINA ECUAGOL</h1>

</body>
</html>