<!doctype html>
<html lang="es">
<head>
    <title>ECUAGOL</title>
    <meta charset="UTF-8">

    <link rel="icon"
          href="/imagenes/balon.ico">

</head>

<body bgcolor="#44444A" text="#00ffff">

<div id="ParteSuperior">

    <div id="publi" align="center">
        <img src="/imagenes/publicidad.png" width="240" height="53" border="0">
        <br>
    </div>

    <div id="minSocial" align="right">
        <img src="/imagenes/social.jpg" width="240" height="53" border="0">
        <br>
        <a href="https://www.facebook.com/revistaecuagol" target="_blank">
            <img src="/imagenes/fb.jpg" width="60" height="53" border="0">
        </a>
        <a href="http://www.twitter.com/#!/@ecuagol" target="_blank">
            <img src="/imagenes/tw.jpg" width="60" height="53" border="0">
        </a>
        <a href="https://www.youtube.com/channel/UC5tXiyFRUH22zd8H8WmhpBA" target="_blank">
            <img src="/imagenes/yt.jpg" width="50" height="53" border="0">
        </a>
        <a href="http://instagram.com/revistaecuagol" target="_blank">
            <img src="/imagenes/ig.jpg" width="60" height="53" border="0">
        </a>
    </div>

</div>

<table width="1350" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td width="41" height="40" align="center">
            <a href="https://es.wikipedia.org/wiki/Club_Deportivo_Am%C3%A9rica" target="_blank">
                <img src="/imagenes/escudos/41.png" width="35" height="35" border="0">
            </a>
        </td>
        <td width="41" height="40" align="center">
            <a href="http://www.elnacional.ec/" target="_blank">
                <img src="/imagenes/escudos/11.png" width="35" height="35" border="0">
            </a>
        </td>
        <td width="41" height="40" align="center">
            <a href="https://www.ldu.com.ec/home/" target="_blank">
                <img src="/imagenes/escudos/10.png" width="35" height="35" border="0">
            </a>
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/9.png" width="35" height="35" border="0">
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/8.png" width="35" height="35" border="0">
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/7.png" width="35" height="35" border="0">
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/6.png" width="35" height="35" border="0">
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/5.png" width="35" height="35" border="0">
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/4.png" width="35" height="35" border="0">
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/3.png" width="35" height="35" border="0">
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/14.png" width="35" height="35" border="0">
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/15.png" width="35" height="35" border="0">
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/16.png" width="35" height="35" border="0">
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/17.png" width="35" height="35" border="0">
        </td>
        <td width="41" height="40" align="center">
            <img src="/imagenes/escudos/18.png" width="35" height="35" border="0">
        </td>
    </tr>
    </tbody>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td width="50%" align="left">
            <img src="/imagenes/logo.png" alt="ECUAGOL" width="380" height="55" border="0">
        </td>
        <td width="50%" align="right">
            <b>
                <span style="color: #FFFFFF; ">Martes 21 de Mayo del 2019</span>
            </b>
            <br>
            <span style="color: #ffa991; ">Ingresar  </span>
            <span style="color: #ff6242; ">Registarse  </span>
            <span style="color: #ffa991; ">Ir a versión móvil</span>
        </td>
    </tr>
    </tbody>
</table>

<div class="Encabezado">
    <link rel="stylesheet" type="text/css" href="/scripts/menu.css">
    <div class="chromestyle" id="chromemenu">
        <ul>
            <li>
                <a href="http://www.ecuagol.com/ecuagol/index.php?c=1&cid=bca18855-8db3-4e0b-94de-71a3fdbd844f">PrimeraA</a>
            </li>
            <li>
                <a href="http://www.ecuagol.com/ecuagol/index.php?c=2&cid=7034582d-08d2-3657-1a65-78956825867d">PrimeraB</a>
            </li>
            <li>
                <a href="http://www.ecuagol.com/ecuagol/index.php?c=18&cid=">Fútbol Femenino</a>
            </li>
            <li>
                <a href="http://www.ecuagol.com/ecuagol/index.php?c=17&cid=">Copa Ecuador</a>
            </li>
            <li>
                <a href="http://www.ecuagol.com/ecuagol/index.php?c=3&cid=">Ecuatorianos en el Exterior</a>
            </li>
            <li>
                <span style="color: #FFFFFF; ">Copa Libertadores</span>
            </li>
            <li>
                <a href="http://www.ecuagol.com/ecuagol/index.php?c=3&cid=">Internacional </a>
            </li>
            <li>
                <a href="http://www.ecuagol.com/ecuagol/index.php?c=3&cid=">Segunda Categoría</a>
            </li>
            <li>
                <a href="http://www.ecuagol.com/ecuagol/index.php?c=1&cid=bca18855-8db3-4e0b-94de-71a3fdbd844f">PrimeraA</a>
            </li>
            <li>
                <a href="http://www.ecuagol.com/ecuagol/index.php?c=2&cid=7034582d-08d2-3657-1a65-78956825867d">PrimeraB</a>
            </li>
            <li>
                <a href="http://www.ecuagol.com/ecuagol/index.php?c=18&cid=">Fútbol Femenino</a>
            </li>
        </ul>
    </div>
</div>

<div class="busqueda">
    <form action="" align="right">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text">
        <button>Buscar</button>
    </form>
</div>

<div class="Articulos">
    <div class="ArticuloArriba">

        <div class="Articulo">
            <a href="http://www.ecuagol.com/ecuagol/index.php?n=143747">
                <span style="font-size: x-large;color: #ffc1fd ">Ecuador da su nómina para la Copa América</span>
            </a>

            <div class="FechaArticulo">20/May/2019 9:45</div>
            <div class="HitsDelArticulo">
                <img src="/imagenes/comentario.png" alt="Comentarios" align="absbottom"> 2
            </div>

            <div class="ContenidoArticulo">
                <div align="center">
                    <p><a href="index.php?n=143747">
                            <img src="https://www.ecuavisa.com/sites/default/files/fotos/2018/11/14/antonio_valencia-ecuador-14-11-2018.jpg"
                                 alt="Resultado de imagen para ecuador antonio valencia seleccion" width="480"
                                 vspace="5" hspace="6" height="241"></a></p>
                    <p align="center">El combinado nacional tiene ya a sus 23 jugadores para la Copa América.</p>
                </div>
                <br>


                <a href="index.php?n=143747"><img src="/imagenes/leermas.png" alt="Leer más" border="0"></a>
                <!--twitter twitear noticia-->
                <iframe id="twitter-widget-2" scrolling="no" frameborder="0" allowtransparency="true"
                        class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
                        style="position: static; visibility: visible; width: 87px; height: 28px;"
                        title="Twitter Tweet Button"
                        src="https://platform.twitter.com/widgets/tweet_button.fb066ff7f5f4afee7716887031da2ea8.es.html#dnt=true&amp;id=twitter-widget-2&amp;lang=es&amp;original_referer=http%3A%2F%2Fwww.ecuagol.com%2Fecuagol%2Findex.php%3F&amp;size=l&amp;text=Ecuador%20da%20su%20n%C3%B3mina%20para%20la%20Copa%20Am%C3%A9rica%20ecuagol.com%2Fecuagol%2F%3Fn%3D143747%20&amp;time=1558419602787&amp;type=share&amp;url=ecuagol.com%2Fecuagol%2F%3Fn%3D143747&amp;via=ecuagol"
                        data-url="ecuagol.com/ecuagol/?n=143747"></iframe>
                <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');</script>

            </div>
        </div>


        <div class="Articulo">
             <a href="index.php?a=6552" class="TituloArticuloEnlace">
                 <span style="font-size: x-large; color:  #ffc1fd ">Barcelona ganó, gustó y goleó en Ambato </span>
             </a>

        <div class="FechaArticulo">19/May/2019 18:11</div>

            <div class="ContenidoArticulo">
                <p align="center">
                    <a href="index.php?a=6552">
                        <img src="/imagenes/NUEVO PUNTERO.jpg" alt="nuevo puntero" height="226" width="440">
                    </a>
                </p>
                <p>Los Toreros ya son líderes del torneo.</p><br>

                <!--twitter twitear noticia-->
                <iframe id="twitter-widget-3" scrolling="no" frameborder="0" allowtransparency="true"
                        class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
                        style="position: static; visibility: visible; width: 87px; height: 28px;"
                        title="Twitter Tweet Button"
                        src="https://platform.twitter.com/widgets/tweet_button.fb066ff7f5f4afee7716887031da2ea8.es.html#dnt=true&amp;id=twitter-widget-3&amp;lang=es&amp;original_referer=http%3A%2F%2Fwww.ecuagol.com%2Fecuagol%2Findex.php%3F&amp;size=l&amp;text=Barcelona%20gan%C3%B3%2C%20gust%C3%B3%20y%20gole%C3%B3%20en%20Ambato%20%20http%3A%2F%2Fwww.ecuagol.com%2Fecuagol%2F%3Fa%3D6552%20&amp;time=1558419602788&amp;type=share&amp;url=http%3A%2F%2Fwww.ecuagol.com%2Fecuagol%2F%3Fa%3D6552&amp;via=ecuagol"
                        data-url="http://www.ecuagol.com/ecuagol/?a=6552"></iframe>
                <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');</script>

            </div>
        </div>
    </div>


    <!-- COLUMNAS PARA NOTICIAS
    <div class="Columnas">
        <div class="ArticuloIzquierdo">

            <div class="Articulo">
                <meta name="twitter:title"
                      content="Gabriel Schürrer: &quot;Este punto nos permite seguir construyendo el equipo&quot;">
                <meta name="twitter:description" content="Noticia de Ecuagol.com">
                <a href="index.php?n=143779" class="TituloArticuloEnlace">Gabriel Schürrer: "Este punto nos permite
                    seguir construyendo el equipo"</a>

                <div class="BarraFecha">
                    <div class="FechaArticulo">20/May/2019 22:53</div>
                </div>
                <div class="ContenidoArticulo">
                    <div align="center">
                        <p><a href="index.php?n=143779"><img class="irc_mi"
                                                             src="http://www.api.ec/galeria/albums/userpics/10090/MACARA-AUCAS-_281529_copy.jpg"
                                                             alt="Resultado de imagen para schurrer ecuagol"
                                                             style="margin-top: 0px;" data-iml="1558410786016"
                                                             width="320" height="213"></a></p>
                        <p align="justify">El argentino habló luego del partido.</p>
                    </div>
                    <br>


                    <a href="index.php?n=143779"><img src="imagenes/icons/leermas.png" alt="Leer más" border="0"></a>

                    <iframe id="twitter-widget-4" scrolling="no" frameborder="0" allowtransparency="true"
                            class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
                            style="position: static; visibility: visible; width: 87px; height: 28px;"
                            title="Twitter Tweet Button"
                            src="https://platform.twitter.com/widgets/tweet_button.fb066ff7f5f4afee7716887031da2ea8.es.html#dnt=true&amp;id=twitter-widget-4&amp;lang=es&amp;original_referer=http%3A%2F%2Fwww.ecuagol.com%2Fecuagol%2Findex.php%3F&amp;size=l&amp;text=Gabriel%20Sch%C3%BCrrer%3A%20%22Este%20punto%20nos%20permite%20seguir%20construyendo%20el%20equipo%22%20ecuagol.com%2Fecuagol%2F%3Fn%3D143779%20&amp;time=1558419602789&amp;type=share&amp;url=ecuagol.com%2Fecuagol%2F%3Fn%3D143779&amp;via=ecuagol"
                            data-url="ecuagol.com/ecuagol/?n=143779"></iframe>
                    <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');</script>

                </div>
            </div>


            <div class="Articulo">
                <meta name="twitter:title" content="(VIDEO) Estudio revela que jugador se parece más a Messi">
                <meta name="twitter:description" content="Noticia de Ecuagol.com">
                <a href="index.php?n=143768" class="TituloArticuloEnlace"><img border="0"
                                                                               src="imagenes/icons/video.png"> Estudio
                    revela que jugador se parece más a Messi</a>

                <div class="BarraFecha">
                    <div class="FechaArticulo">20/May/2019 17:21</div>
                </div>
                <div class="ContenidoArticulo">
                    <div align="center">
                        <p><a href="index.php?n=143768"><img
                                        src="https://img.depor.com/files/ec_article_multimedia_gallery/uploads/2019/03/18/5c8fd346e2589.jpeg"
                                        alt="Resultado de imagen para messi ecuagol" width="320" height="184"></a></p>
                        <p align="justify">Una empresa de estadística descubre el que más se parece al argentino.</p>
                    </div>
                    <br>


                    <a href="index.php?n=143768"><img src="imagenes/icons/leermas.png" alt="Leer más" border="0"></a>

                    <iframe id="twitter-widget-9" scrolling="no" frameborder="0" allowtransparency="true"
                            class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
                            style="position: static; visibility: visible; width: 87px; height: 28px;"
                            title="Twitter Tweet Button"
                            src="https://platform.twitter.com/widgets/tweet_button.fb066ff7f5f4afee7716887031da2ea8.es.html#dnt=true&amp;id=twitter-widget-9&amp;lang=es&amp;original_referer=http%3A%2F%2Fwww.ecuagol.com%2Fecuagol%2Findex.php%3F&amp;size=l&amp;text=(VIDEO)%20Estudio%20revela%20que%20jugador%20se%20parece%20m%C3%A1s%20a%20Messi%20ecuagol.com%2Fecuagol%2F%3Fn%3D143768%20&amp;time=1558419602793&amp;type=share&amp;url=ecuagol.com%2Fecuagol%2F%3Fn%3D143768&amp;via=ecuagol"
                            data-url="ecuagol.com/ecuagol/?n=143768"></iframe>
                    <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, 'script', 'twitter-wjs');</script>

                </div>
            </div>




    -->



    <div style="display:none">201 / 50 / 2</div>
    <table border="0" width="100%" cellspacing="0" cellpadding="4" bgcolor="#0B2687">
        <tbody>
        <tr>
            <td><font face="Arial" color="#FFFFFF" size="2">Más Noticias:</font></td>
        </tr>
        </tbody>
    </table>
    <div class="ArticuloArriba">
        <div id="listado_noticias">
            <div class="Articulo">
                <a href="index.php?n=143730" class="TituloModuloEnlace">Técnico Universitario y Emelec rescatan un punto
                    en Superliga Femenina</a>
                <br><b><font face="Verdana" size="2" color="#999">19/May/2019 21:35 </font></b>
            </div>
            <div class="Articulo">
                <a href="index.php?a=6558" class="TituloModuloEnlace">Olmedo y Mushuc Runa empatan en Riobamba </a>
                <br><b><font face="Verdana" size="2" color="#999">19/May/2019 20:15 </font></b>
            </div>
            <div class="Articulo">
                <a href="index.php?n=143729" class="TituloModuloEnlace">Triunfo
                    de Mallorca con Pervis Estupiñán de titular </a>
                <br><b><font face="Verdana" size="2" color="#999">19/May/2019 19:25 </font></b>
            </div>
            <div class="Articulo">
                <a href="index.php?n=143728" class="TituloModuloEnlace"> El
                    blooper de CR7 hacia su hijo con la copa</a>
                <br><b><font face="Verdana" size="2" color="#999">19/May/2019 19:16 </font></b>
            </div>
            <div class="Articulo">
                <a href="index.php?n=143727" class="TituloModuloEnlace">BSC imbatible con su camiseta conmemorativa </a>
                <br><b><font face="Verdana" size="2" color="#999">19/May/2019 19:10 </font></b>
            </div>
            <div class="Articulo">
                <a href="index.php?a=6613" class="TituloModuloEnlace">Gualaceo y Liga de Loja consiguen empate sin
                    goles</a>
                <br><b><font face="Verdana" size="2" color="#999">19/May/2019 18:11 </font></b>
            </div>
            <div class="Articulo">
                <a href="index.php?n=143724" class="TituloModuloEnlace">Árbitro
                    muere durante un compromiso en Bolivia</a>
                <br><b><font face="Verdana" size="2" color="#999">19/May/2019 18:06 </font></b>
            </div>
            <div class="Articulo">
                <a href="index.php?n=143723" class="TituloModuloEnlace">Alcoyano empata con Hernán Lino de titular</a>
                <br><b><font face="Verdana" size="2" color="#999">19/May/2019 17:55 </font></b>
            </div>
            <div class="Articulo">
                <a href="index.php?n=143722" class="TituloModuloEnlace">Barcelona tendrá una importante baja para jugar
                    con Olmedo </a>
                <br><b><span style="font-family: Verdana; font-size: x-small; color: #999; ">19/May/2019 17:51 </span></b>
            </div>
            <div class="Articulo">
                <a href="index.php?n=143683" class="TituloModuloEnlace">Luego
                    de ganar la final Guardiola seguía dando indicaciones</a>
                <br><b><span style="font-family: Verdana; font-size: x-small; color: #999; ">18/May/2019 15:09 </span></b>
            </div>
        </div>
        <div id="listado_noticias_0">
            <div style="text-align:center">
                <a href="javascript:void(0);" onclick="MakeRequest(0,203, 0);"><img
                            src="/imagenes/mastitulares.png" alt="Más noticias" border="0"></a>
            </div>
        </div>
    </div>
    <!-- End Cached --> <p></p>
</div>

</div>


<h2 text="#FFFFFF">Ecuador da su nómina para la Copa América</h2>
</body>
</html>