<img
        id="imagen-muestra"

        src="/api/descargarArchivo/<%=idTrago%>"
        width="300px"
        height="300px"
        alt="">
<a href="/api/descargarArchivo/<%= idTrago %>">
    Descargar Archivo
</a>

<form
        action="/api/subirArchivo/<%=idTrago%>"
        method="post"
        enctype="multipart/form-data"
>

<label id="texto-archivo" for="archivo" class="boton boton-seleccionado boton-sin-seleccion">Seleccionar Archivo</label>
<input id="archivo"
       hidden
       type="file"
       name="imagen"
       accept=".pptx, .jpg"
       multiple
       onchange="validarArchivos()"

>
    <script>
        function validarArchivos() {
            const archivo = document.getElementById('archivo');
            console.log(archivo.files)

            const label=document.getElementById('texto-archivo')

            if(archivo.files.length > 0){
                label.class = 'boton boton-seleccionado';
                label.innerText='Archivos Seleccionados';

            }else{
                label.class = 'boton boton-seleccionad';
                label.innerText='Archivos Seleccionados';

            }

            ///// EMPIEZA
            const file = archivo.files[0];
            const reader = new FileReader();
            reader.onload = (eventoLecturaArchivo) => {
                //console.log(eventoLecturaArchivo.target.result);
                const url = eventoLecturaArchivo.target.result;
                console.log(url)
                const imagenMuestra = document.getElementById('imagen-muestra');
                imagenMuestra.src = url;

            };
            reader.readAsDataURL(file);
            //// TERMINA



        }

    </script>
    <style>
        .boton{
            border: solid black 2px;
        }
        .boton-seleccionado{
            color:black;
            background-color: lightgreen;
        }
        .boton-sin-seleccion{
            color: white;
            background-color: black;

        }
    </style>

<button>Subir Archivo</button>

</form>
