
<% const nombre='Sandoval' //codifo JS %>
<%=nombre %>
<% const arreglo=[1,2,3,4,5] %>
<% arreglo%>
<% const objeto = {nombre:'Leonardo'}; %>
<%= objeto%>

<%arreglo.forEach((valorActual) =>{ %>
<p> Numero: <%=valorActual%> </p>
<% })%>

<o1>
<%arreglo.forEach((valorActual) =>{ %>
<li> Numero: <%=valorActual%> </li>
<% })%>
</o1>