

<form action="/api/login" method="POST">

    <label for="username">Username</label>
    <input type="username" type="text" name="username">

    <label for="password">Password</label>
    <input type="password" type="tpassword" name="password">

    <button type="submit">LOGIN</button>
</form>
