<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Entrenador</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .titulo{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .cabecera{
            padding-top:20px;
        }
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: Helvetica, Arial, sans-serif;
            overflow: hidden;
            background-color: #c0e0df;
        }
        .btn{
            color: #060101;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-bottom-color: #9D1D1A;
            border-color: #0c0303;
            background-color: #f3948e;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-12">
        <div class="cabecera row text-right">
            <div class="col-sm-6">
                <span class="text-sm-right"> <%=usuario%></span>
            </div>
            <div class="col-sm-6">
                <a href="http://localhost:3000/examen/eliminarCookie">
                    <button  type="button" class="btn btn-sm btn-primary">Salir</button>
                </a>
            </div>
        </div>
    </div>
    <div class=" titulo col-sm-12">
        <div class="form-group text-center">
            <h2>Crear Nueva Entrenador</h2>
        </div>
    </div>

    <div class="col-sm-12">
        <form action="/examen/entrenador/crear" class="form-horizontal" method="post">
            <div class="form-group row">
                <label for="nombreId" class="control-label col-sm-2">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombreId" name="nombres">
                </div>
            </div>
            <div class="form-group row">
                <label for="apellidosId" class="control-label col-sm-2">Apellidos:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="apellidosId" name="apellidos">
                </div>
            </div>
            <div class="form-group row">
                <label for="fechaId" class="control-label col-sm-2">Fecha de nacimiento:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="fechaId" name="fechaNacimiento">
                </div>
            </div>
            <div class="form-group row">
                <label for="medallaId" class="control-label col-sm-2">Numero de Medalla:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="medallaId" name="numeroMedalla">
                </div>
            </div>

            <div class="form-group row">
                <label for="campeonId" class="control-label col-sm-2">Actual Campeon:</label>
                <div class="col-sm-5">
                    <input type="checkbox" class="form-control" id="campeonId" name="campeonActual">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="text-center">
                    <a href="http://localhost:3000/examen/lista" class="btn btn-sm btn-primary" role="button">Cancelar
                    </a>
                    <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                </div>

            </div>
        </form>
    </div>

</div>

</body>
</html>
